/************************************************************************************ 
               GENERAL
************************************************************************************/

*,
h1,
h2,
h3,
h4,
h5,
h6,
html,
body {
    font-family: "raleway", serif;
}
#wrap {
    width: 90%;
    margin: 0 auto;
}

/**** Reveal Modal **/

@media screen and (min-width: 40em) .reveal {
    width: 80%;
}

/************************************************************************************ 
               Top-nav bar
************************************************************************************/

.menu > li > a {
    text-align: center;
    color: #fff;
}
.top-bar,
.top-bar ul {
    background-color: transparent;
}
.header {
    position: fixed;
    right: 0;
    left: 0;
    margin: 0;
    height: 60px;
    background-color: transparent;
    transition: .5s;
    padding-left: 5%;
}
.header.scrolling {
    background-color: #005000;
    opacity: .8;
    transition: .5s;
}
.xx .register-top-right {
    border: solid 1px #fff;
    border-radius: 5px;
    margin-right: 50px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-transition: background-color .5s ease-in-out;
    background-color: #fff;
    color: #000;
    transition: .5s;
}
.xx .register-top-right:hover {
    opacity: .5;
}
li a:hover {
    color: red;
    border-bottom: 1px solid red;
    transition: .5;
}

/************************************************************************************ 
               HERO
************************************************************************************/

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGElEQVQIW2NkYGD4z8DAwMgAI0AMdM5/ACRwAgMsRgU3AAAAAElFTkSuQmCC), url(../img/hero3.jpg);
    height: 100vh;
    width: 100%;
}
.hero p {
    text-align: center;
    color: #fff;
    font-size: 2em;
    line-height: 35px;
}
#hero-text-padding {
    padding-top: 300px;
}
.hero p #font-big {
    font-size: 2.5em;
}
@media screen and (max-width: 439px) {
    .hero p #font-big {
        font-size: 2.0em;
    }
}
.hero #register-pad button {
    border: solid white 1px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    color: white;
    border-radius: 5px;
}
.hero button:hover {
    border-color: green;
    background-color: green;
}
#register-pad {
    padding-top: 50px;
}
@media screen and (max-width: 639px) {
    #hero-text-padding p {
        position: absolute;
        top: 200px;
    }
}
@media screen and (max-width: 529px) {
    #hero-text-padding p {
        line-height: 50px;
    }
}

/************************************************************************************ 
               ABOUT
************************************************************************************/

.about {
    text-align: center;
}
#about-padding {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
#about-padding p {
    margin-bottom: 5px;
    padding: 0 7%;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.9em;
    margin-left: 10vw;
    margin-right: 10vw;
    color: #504949;
}

/************************************************************************************* 
               SPONSORS
************************************************************************************/

.sponsors {
    text-align: center;
    font-size: 2em;
    padding-top: 5%;
}
.sponsors img {
    height: 200px;
}

/************************************************************************************ 
 Register section
************************************************************************************/

.regg {
    background-color: #f2f2f2;
    padding: 10%;
    text-align: center;
}
.reg_btn {
    width: 200px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid black;
    color: black;
    transition: 0.1s;
}
.reg_btn:hover {
    background-color: green;
    border: none;
    transition: 0.1s;
}
.regg h3 {
    font-size: 3em;
}

/************************************************************************************ 
  Media Query 639px responsive mode starts
************************************************************************************/

@media screen and (max-width: 639px) {
    .menu > li > a {
        background-color: #000;
    }
    .menu img {
        display: none;
    }
    .top-bar {
        padding: 0;
    }
    #register-top-right {
        margin-right: 0;
    }
    #about-padding p {
        font-size: 1.2em;
    }
    .regg h3 {
        font-size: 1.2em;
    }
}

/************************************************************************************ 
 Register section
************************************************************************************/

.regg {
    background-color: #f2f2f2;
    padding: 10%;
    text-align: center;
}
.regg h3 {
    color: #272727;
}
.reg_btn {
    width: 200px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid black;
    color: black;
    transition: 0.1s;
}
.reg_btn:hover {
    background-color: green;
    border: none;
    transition: 0.1s;
}

/*****************FOOTER*************************/

footer {
    background-color: #3e8e3e;
}
#pad-contact {
    margin-left: 15px
}
.footer-section h5 {
    margin-top: 30px;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}
.footer-section p {
    color: white;
}
#map {
    width: 100%;
    margin-top: 20px;
    height: 300px;
    margin-bottom: 20px;
}
.copyright {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
}
.copyright img {
    height: 70px;
    margin-bottom: 10px
}
span.counter {
    display: inline-block;
    width: 32%;
}
