/************************************************************************************ 
               GENERAL
************************************************************************************/


/************************************************************************************ 
               Top-nav bar
************************************************************************************/

.menu > li > a {
    text-align: center;
    color: #fff;
}
.top-bar,
.top-bar ul {
    background-color: transparent;
}
.header {
    position: fixed;
    right: 0;
    left: 0;
    margin: 0;
    height: 60px;
    background-color: transparent;
    transition: .5s;
}
.header.scrolling {
    background-color: green;
    opacity: .8;
    transition: .5s;
}
#register-top-right {
    border: solid 1px #fff;
    border-radius: 5px;
    margin-right: 50px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-transition: background-color .5s ease-in-out;
    background-color: #fff;
    color: #000;
    transition: .5s;
}
#register-top-right:hover {
    /*
    background-color: white;
    color: black;
    transition: 0.5s;
*/
    opacity: .5;
}
li a:hover {
    color: red;
    border-bottom: 1px solid red;
    transition: .5;
}

/************************************************************************************ 
               HERO
************************************************************************************/

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.49), rgba(13, 32, 42, 0.39)), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGElEQVQIW2NkYGD4z8DAwMgAI0AMdM5/ACRwAgMsRgU3AAAAAElFTkSuQmCC), url(../img/hero3.jpg);
    height: 100vh;
    width: 100%;
}
.hero p {
    text-align: center;
    color: #fff;
    font-size: 2em;
    line-height: 35px;
    font-family: 'Droid Serif', serif;
}
#hero-text-padding {
    padding-top: 300px;
}
.hero p #font-big {
    font-size: 2.5em;
}
.hero #register-pad button {
    border: solid white 1px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    color: white;
    border-radius: 5px;
}
.hero button:hover {
    border-color: green;
    background-color: green;
}
#register-pad {
    padding-top: 50px;
}
@media screen and (max-width: 639px) {
    #hero-text-padding p {
        position: absolute;
        top: 200px;
    }
}
@media screen and (max-width: 529px) {
    #hero-text-padding p {
        line-height: 50px;
    }
}

/************************************************************************************ 
               ABOUT
************************************************************************************/

.about {
    text-align: center;
}
.about h5 {
    font-size: 2em;
}
#about-padding {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
#about-padding p {
    margin-bottom: 5px;
}

/************************************************************************************* 
               SPONSORS
************************************************************************************/

.sponsors {
    text-align: center;
}

/************************************************************************************ 
  Media Query 639px responsive mode starts
************************************************************************************/

@media screen and (max-width: 639px) {
    .menu > li > a {
        background-color: #000;
    }
    .menu img {
        display: none;
    }
    .top-bar {
        padding: 0;
    }
    #register-top-right {
        margin-right: 0;
    }
}
