/************************************************************************************ 
               GENERAL
************************************************************************************/

*,
h1,
h2,
h3,
h4,
h5,
h6,
html,
body {
    font-family: "raleway", serif;
}
#wrap {
    width: 90%;
    margin: 0 auto;
}

/**** Reveal Modal **/

@media screen and (min-width: 40em) .reveal {
    width: 80%;
}

/************************************************************************************ 
               Top-nav bar
************************************************************************************/

.menu > li > a {
    text-align: center;
    color: #fff;
    font-weight: bolder;
}
.top-bar,
.top-bar ul {
    background-color: transparent;
}
.header {
    position: fixed;
    right: 0;
    left: 0;
    margin: 0;
    height: 60px;
    background-color: transparent;
    transition: .5s;
    padding-left: 5%;
}
.header.scrolling {
    background-color: #005000;
    transition: .5s;
    z-index: 10;
}
.xx .register-top-right {
    border: solid 1px #fff;
    border-radius: 5px;
    margin-right: 50px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-transition: background-color .5s ease-in-out;
    background-color: #fff;
    color: #000;
    transition: .5s;
}
.xx .register-top-right:hover {
    opacity: .5;
}
li a:hover {
    color: red;
    border-bottom: 1px solid red;
    transition: .5;
}
.web_logo {
    width: 64px;
}

/************************************************************************************ 
               HERO
************************************************************************************/

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGElEQVQIW2NkYGD4z8DAwMgAI0AMdM5/ACRwAgMsRgU3AAAAAElFTkSuQmCC), url(../img/hero3.jpg);
    height: 100vh;
    width: 100%;
}
.hero p {
    text-align: center;
    color: #fff;
    font-size: 3.5em;
    line-height: 65px;
}
.hero p #font-big {
    font-size: 2em;
}
@media screen and (max-width: 439px) {
    .hero p #font-big {
        font-size: 2.0em;
    }
}
.hero #register-pad button {
    border: solid white 1px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    color: white;
    border-radius: 5px;
    width: 300px;
}
.hero button:hover {
    border-color: green;
    background-color: green;
}
#hero-text-padding {
    padding-top: 15%;
}
.date {
    color: white;
    text-align: center;
    font-size: 35px;
}

/****************************
countdown
**************************/

#clock {
    display: block;
    width: 40%;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    /*    padding: 20px;*/
    text-align: center;
    background-color: transparent;
}
.block {
    display: inline-block;
    width: 16%;
    margin: 1px;
    padding: 5px;
    font-size: 20px;
    text-align: center;
}
.digit {
    display: block;
    font-size: 30px;
    background-color: transparent;
    color: white;
}
.block p {
    font-size: 1rem;
}

/************************************************************************************ 
               ABOUT
************************************************************************************/

.about {
    text-align: center;
}
#about-padding {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10% 5%;
}
#about-padding p {
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.3em;
    color: #504949;
}

/************************************************************************************* 
               Partners
************************************************************************************/

.sponsors {
    text-align: center;
    font-size: 2em;
    padding: 10% 0;
}
.sponsors img {
    height: 110px;
    margin-bottom: 10px;
}

/************************************************************************************ 
 Register section
************************************************************************************/

.regg {
    background-color: #f2f2f2;
    padding: 10% 5%;
    text-align: center;
}
.reg_btn {
    width: 200px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid black;
    color: black;
    transition: 0.1s;
}
.reg_btn:hover {
    background-color: green;
    border: none;
    transition: 0.1s;
}
.regg h3 {
    font-size: 3em;
    color: #272727;
}

/************************************************************************************ 
  Media Query 639px responsive mode starts
************************************************************************************/

@media screen and (max-width: 639px) {
    .menu > li > a {
        background-color: #000;
    }
    .menu img {
        display: none;
    }
    .top-bar {
        padding: 0;
    }
    #register-top-right {
        margin-right: 0;
    }
    #about-padding p,
    .regg h3 {
        font-size: 1.2em;
    }
    /*
    #hero-text-padding {
     padding-top: 100px;
 }
*/
    .hero p {
        text-align: center;
        color: #fff;
        font-size: 2em;
        line-height: 50px;
    }
    #pad-contact {
        padding-left: 15px
    }
    .xx .register-top-right {
        margin-right: 0px;
    }
    .xx {
        margin-top: -10px;
    }
}

/************************************************************************************ 
 Footer section
************************************************************************************/

footer {
    background-color: #3e8e3e;
}
.footer-section h5 {
    margin-top: 30px;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}
.footer-section p {
    color: white;
}
#map {
    width: 100%;
    margin-top: 20px;
    height: 300px;
    margin-bottom: 20px;
}
.copyright {
    text-align: center;
    padding: 3% 0;
    background-color: white;
}
.copyright a {
    color: black;
}
.copyright a:hover {
    color: #3e8e3e;
}
.copyright p {
    margin-top: 1%;
}
span.counter {
    display: inline-block;
    width: 32%;
}
footer .row {
    max-width: 83rem;
    padding: 5% 4%;
}
.s_media {
    display: inline-block;
    padding: 0 4%;
}
