body {
    background-image: linear-gradient(rgba(38, 82, 45, 0.7), rgba(0, 123, 0, 0.7)), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGElEQVQIW2NkYGD4z8DAwMgAI0AMdM5/ACRwAgMsRgU3AAAAAElFTkSuQmCC), url(../img/hero.jpg);
    color: white;
    min-height: 400px;
}
body,
html {
    height: auto;
}
.event-schedule h5 {
    text-align: center;
    font-size: 2em;
    padding: 45px;
}
.event {
    padding: 1rem 1rem 1rem 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%
}
hr {
    width: 62%
}
.event-date {
    margin: 0 auto 1rem;
    display: table-cell;
    width: 60px;
}
.event-date .event-month {
    margin: 0;
    background: #eee;
    padding: 0.5rem 2rem;
    text-align: center;
}
.event-date .event-day {
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
    width: 200px;
    height: 40px;
    padding-top: 15%
}
.event-desc {
    padding: 0 0 0 1rem;
    text-align: left;
    display: table-cell;
    vertical-align: top;
}
.event-desc .event-desc-header {
    margin: 0 0 0.5rem 0;
    padding: 0;
    font-size: 1.7em
}
.event-desc .event-desc-detail {
    margin: 0 0 0.25rem;
    padding: 0;
    font-size: 1.3em;
}
.event-desc .event-desc-time {
    font-weight: bold;
}
.event-desc .rsvp.button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0;
}
@media screen and (max-width: 1025px) {
    .event {
        width: 65%;
    }
    .event-date .event-day {
        margin: 0;
        text-align: center;
        font-size: 1rem;
        width: 100;
        height: 40px;
        padding-top: 15%
    }
}

}
@media screen and (max-width: 902px) {
    .event-desc .event-desc-header {
        margin: 0 0 0.5rem 0;
        padding: 0;
        font-size: 1.3em;
    }
}
@media screen and (max-width: 768px) {
    .event {
        width: 90%;
    }
}
@media screen and (max-width: 440px) {
    .event-schedule h5 {
        text-align: center;
        font-size: 1.5em;
        padding: 0px;
    }
    .event {
        width: 100%;
    }
    .event-date .event-day {
        width: 95px;
    }
    hr {
        width: 95%;
    }
    .event-desc .event-desc-header {
        font-size: 1.3em;
    }
}
@media screen and (max-width: 440px) {
    .event-schedule h5 {
        font-size: 1.2em;
    }
    .event-desc .event-desc-header {
        font-size: 1.1em;
    }
    .event-desc .event-desc-detail {
        margin: 0 0 0.25rem;
        padding: 0;
        font-size: 1em;
    }
    .event-date .event-day {
        width: 70px;
    }
}
.schedule_content {
    padding-top: 150px;
}
